<mat-card class="contact-card">
    <mat-card-content>
        <div class="card-layout">
            <div class="avatar-section">
                <app-avatar [src]="contact().picture" [firstName]="contact().firstName" [lastName]="contact().lastName"
                    [size]="56">
                </app-avatar>
            </div>

            <app-contact-info [contact]="contact()"></app-contact-info>

            <app-contact-actions [contactId]="contact().id" (edit)="onEdit.emit($event)"
                (delete)="onDelete.emit($event)">
            </app-contact-actions>
        </div>
    </mat-card-content>
</mat-card>